* {
    margin: 0;
    padding: 0;
}

.title {
    background-color: dodgerblue;
    color: white;
    font-size: 50px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(133, 133, 133, 0.985);
}

.wrapper {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(133, 133, 133, 0.985);
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 30px 30px;
    margin: 30px 20px;
    border-radius: 20px;
}

#question {
    font-size: 20px;
    padding: 5px 10px;
    margin: 20px 10px;
}

#choices {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: red;
    color: white;
    width: 90%;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 40px 10px;
}

.contButton {
    /* background-color: black; */
    display: flex;
    justify-content: flex-end;
}

.buttonNext {
    background-color: royalblue;
    color: white;
    width: 40%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    margin: 20px;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
}