* {
    margin: 0;
    padding: 0;
}

#formulary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contButton {
    display: flex; 
    flex-direction: row;
}

.buttonLogin {
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}